{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="apple-touch-icon" href="https://static-resources.mapme.com/brand/icons/apple-touch-icon.png" />
<link rel="icon" href="https://static-resources.mapme.com/brand/icons/favicon.ico" sizes="any" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="manifest" href="/manifest.json" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script type="module" crossorigin src="/assets/index-BGk1hKue.js"></script>
      <link rel="stylesheet" crossorigin href="/assets/index-Lug2_s5c.css">
    </head>
    <body>
        <script>
window.envs = {
	VUE_APP_BUILD_ID: '203cc18',
	VUE_APP_CDN_API_DOMAIN: 'api.mapme.com',
	VUE_APP_DYN_API_DOMAIN: 'api.mapme.com',
	VUE_APP_FACEBOOK_APP_ID: '523540454761524',
	VUE_APP_GOOGLE_APP_CLIENT_ID: '250843692494-h7voem4ude5sf7jtpl30ri3aiii4j1ln.apps.googleusercontent.com',
	VUE_APP_MEDIA_BASE_DOMAIN: 'media.mapme.com',
	VUE_APP_STACK: 'prd',
	VUE_APP_STATIC_RESOURCES_DOMAIN: 'static-resources.mapme.com',
}
</script>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
